@reference "../../app/globals.css";


.card {
  @apply bg-light rounded-xl p-6;
}
.header {
  @apply flex items-center gap-4 mb-6;
}
.avatar {
  @apply bg-lighter rounded-full shrink-0 w-16 h-16;
}
.headerLines {
  @apply flex flex-col gap-3 flex-1;
}
.lineFull {
  @apply bg-lighter rounded h-3 w-full;
}
.lineShort {
  @apply bg-lighter rounded h-3 w-3/4;
}
.lineXShort {
  @apply bg-lighter rounded h-3 w-1/2;
}
.body {
  @apply flex flex-col gap-3;
}
.bar {
  @apply bg-lighter rounded h-3 animate-pulse;
}
